<%- include("../../components/UI/HeadIncluder", {titleOfPage: "Login"}) -%>

<body class="font-heading space-y-20 bg-[#e6e6e6]">

<%- include("../../components/Layout/Header") -%>

Dashboard

<%- include("../../components/Layout/Footer") -%>

</body>
</html>