<nav
        class="z-1 relative flex h-fit w-full items-center justify-between font-body"
>
    <a href="/" class="bg-[rgba(0,0,0,0.3)] rounded-full p-4">
        <img class="w-80" src="/images/icons/brand/brand.png" alt="brand">
    </a>
    <ul class="text-md flex gap-16 font-bold">
        <li class="bg-[rgba(0,0,0,0.3)] rounded-lg grid p-3 place-content-center">
            <a href="/about">About us</a>
        </li>
        <li class="bg-[rgba(0,0,0,0.3)] rounded-lg grid p-3 place-content-center">
            <a href="#explore-recipes">Explore recipes</a>
        </li>
        <li class="bg-[rgba(0,0,0,0.3)] rounded-lg grid p-3 place-content-center">
            <a href="/r/popular">Popular recipes</a>
        </li>
        <% if (user) { %>
            <li>
                <%- include("../../UI/Dropdown", { selected: "My good food" }) -%>
            </li>
        <% } else { %>
            <li class="rounded-full bg-[rgb(96,107,55)] p-2 px-8 grid place-content-center">
                <a href="/auth/login">Sign In / Register</a>
            </li>
        <% } %>
    </ul>
</nav>