<button class="relative px-3 w-full h-full bg-selected-mehandi flex justify-center items-center focus:outline-none shadow text-white rounded-full focus:ring ring-[hsl(73,32%,42%)] group">
    <span class="px-4"><%= selected; %></span>
    <%- include("../Icons/UI/ArrowDown", { containerClass: "p-1 hover:bg-[hsl(73,42%,22%)] rounded-full", svgClass: "w-5 h-5" }) -%>

    <div class="absolute hidden group-focus:block top-full min-w-full w-max bg-mehandi shadow-md mt-1 rounded-2xl p-3">
        <ul class="text-center rounded">
            <% [
                { text: "My good food", link: "/" },
                { text: "Own recipes", link: "/u/recipes" },
                { text: "My saved recipes", link: "/u/saved" },
                { text: "Sign Out", link: "/auth/logout" }
            ].filter(option => option.text !== selected).forEach(option => { %>
                <li class="px-4 py-2 hover:bg-[hsl(73,42%,22%)] border-b border-b-gray-500 last:border-0 rounded-t-md">
                    <a href="<%= option.link %>">
                        <%= option.text %>
                    </a>
                </li>
            <% }); %>
        </ul>
    </div>
</button>