<div class="bg-white font-small-heading w-full flex justify-start rounded-2xl shadow-xl bg-white py-2.5 px-6 gap-5 items-center">
    <label for="text" class="rounded-full group">
        <%- include("../Icons/UI/Actions/MagnifyingGlass", {
        containerClass: "rounded-full p-1 group-hover:bg-[rgba(0,0,0,0.05)]",
        svgClass: "w-8 fill-amber-600"
        }) -%>
    </label>
    <input
            class="text-black placeholder:text-[rgba(251,191,36,0.6)] text-lg w-[80%] peer focus:outline-none"
            type="text"
            id="text"
            placeholder="What do you want to cook?"
    />
    <%- include("./Button", {btnClass: "absolute -right-2", id: "search-recipe", text: "Find recipe", type: "submit"}) -%>
</div>