<div class="font-body backdrop-blur-xl bg-[rgba(255,255,255,0.8)] border-2 border-white rounded-2xl px-8 py-6 w-1/2 shadow-2xl space-y-7"
     style=" box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px, rgba(0, 46, 170, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -10px 10px, rgba(0, 0, 0, 0.05) -0 0;
}">
    <div class="flex justify-between font-heading text-gray-800 items-center gap-8">
        <input class="font-heading text-4xl w-full bg-transparent ring-2 ring-amber-700 rounded-full p-2 px-4"
               type="text"
               placeholder="Yours Recipe Title" name="title" />
    </div>
    <div class="flex justify-start items-center gap-10">
        <div class="flex items-center gap-3">
            <%- include("../Icons/UI/Clock", { containerClass: "", svgClass: "w-7 fill-selected-mehandi stroke-2" }) -%>
            <label for="prepTimeUnit">Prep: </label>
            <input type="number" class="bg-transparent text-gray-700 w-20 ring-2 ring-amber-700 rounded-full p-2 px-4"
                   name="prepTime" min="0.1" step="0.1" />
            <select class="bg-transparent text-mehandi rounded-full p-2 pr-0 bg-white ring-2 ring-amber-700 font-bold"
                    name="prepTimeUnit" id=prepTimeUnit">
                <option value="hours">Hours</option>
                <option value="min" selected>Min</option>
            </select>
        </div>
        <div class="flex items-center gap-3">
            <%- include("../Icons/Food/Cooking", { containerClass: "", svgClass: "w-8 " }) -%>
            <label for="cookTimeUnit">Cook: </label>
            <input type="number" class="bg-transparent text-gray-700 w-20 rounded-full ring-2 ring-amber-700 p-2 px-4"
                   name="cookTime" min="0.1" step="0.1" />
            <select class="bg-transparent text-mehandi rounded-full p-2 pr-0 bg-white ring-2 ring-amber-700 font-bold"
                    name="cookTimeUnit" id="cookTimeUnit">
                <option value="hours">Hours</option>
                <option value="min" selected>Min</option>
            </select>
        </div>
    </div>
    <div class="flex justify-start items-center gap-10">
        <div class="space-x-4">
            <label class="font-heading text-xl" for="region">Region</label>
            <select class="rounded-full ring-2 bg-transparent ring-amber-700 p-2 px-4" name="region" id="region">
                <option value="japanese">Japanese</option>
                <option value="chinese">Chinese</option>
                <option value="vietnamese">Vietnamese</option>
                <option value="russian">Russian</option>
                <option value="korean">Korean</option>
                <option value="indian">Indian</option>
                <option value="indonesian">Indonesian</option>
                <option value="pakistan">Pakistan</option>
                <option value="turkish">Turkish</option>
            </select>
        </div>
        <div class="space-x-4">
            <label class="font-heading text-xl" for="category">Category</label>
            <select class="rounded-full ring-2 bg-transparent ring-amber-700 p-2 px-4"
                    name="category"
                    id="category"
            >
                <option value="breakfast">Breakfast</option>
                <option value="brunch">Brunch</option>
                <option value="snack">Snack</option>
                <option value="appetizers">Appetizers</option>
                <option value="lunch">Lunch</option>
                <option value="drinks">Drinks</option>
                <option value="dessert">Dessert</option>
                <option value="dinner">Dinner</option>
            </select>
        </div>
    </div>
    <input class="bg-transparent text-gray-800 rounded-full ring-2 ring-amber-700 p-2 px-4 w-full" type="text"
           name="desc"
           placeholder="Description of your recipe" />
</div>