<div class="font-body space-y-9">
    <div class="flex justify-start gap-8">
        <h1 class="font-heading font-[550] text-gray-900 text-5xl">
            Ingredients
        </h1>
        <div class="flex gap-3 justify-center items-center">
            <button id="inc-ingredient" type="button">
                <%- include("../../Icons/UI/Actions/Plus", { containerClass: "", svgClass: "w-10 stroke-gray-700" }) -%>
            </button>
            <label class="rounded-full ring-2 ring-amber-700 p-2 px-4">
                <input disabled name="servings" class="w-10 text-xl" type="text" step="1" min="1" max="50"
                       placeholder="1..2?" />
                servings
            </label>
            <button id="dec-ingredient" type="button">
                <%- include("../../Icons/UI/Actions/Minus", { containerClass: "", svgClass: "w-10 stroke-gray-700" }) -%>
            </button>
        </div>
    </div>
    <ul class="text-lg space-y-2 pl-0.5" id="ingredient-container">
        <li class="relative px-8 before:absolute before:w-4 before:h-4 before:rounded-full before:top-1/4 before:-left-0 before:bg-amber-600"
            data-ingredient>
            <label class="font-bold space-x-3">
                <input class="w-24 rounded-full ring-2 ring-amber-700 p-2 px-4"
                       type="number"
                       placeholder="1..3"
                       name="ingredientQuantityNum"
                       value="2"
                />
                <input class="w-20 rounded-full ring-2 ring-amber-700 p-2 px-4"
                       type="text"
                       placeholder="g/tbsp"
                       name="ingredientQuantitySuffix"
                       value="g"
                />
            </label>
            <input class="ml-4 rounded-full ring-2 ring-amber-700 p-2 px-4"
                   type="text"
                   placeholder="Ingredient name"
                   name="ingredientName" value="Salt"
            />
        </li>
    </ul>
    <div class="text-left">
        <button type="button" id="add-ingredient" class="text-center">
            <%- include("../../Icons/UI/Actions/Plus", { containerClass: "h-16 w-16 mx-auto", svgClass: "w-full h-full stroke-selected-mehandi" }) -%>
        </button>
    </div>

</div>