<div class="space-y-5">
    <h1 class="font-heading font-[550] text-gray-900 text-5xl">
        Nutrition per serving
    </h1>
    <div class="flex justify-start">
        <div class="flex flex-col justify-between gap-2 items-center font-[500] tracking-wider pr-8 h-[2rem]">
            <label for="calories"
                   class="font-small-heading text-lg"
            >
                Calories
            </label>
            <input class="text-amber-600 font-body w-20 rounded-full ring-2 ring-amber-700 p-2 px-4"
                   type="number"
                   step="1"
                   min="0"
                   name="calories"
                   id="calories"
            />
            <pre> </pre>
        </div>
        <div class="flex flex-col justify-between gap-2 items-center font-[500] tracking-wider px-8 border-l border-amber-400">
            <label for="protein"
                   class="font-small-heading text-lg"
            >
                Protein
            </label>
            <input class="text-amber-600 font-body w-20 rounded-full ring-2 ring-amber-700 p-2 px-4"
                   type="number"
                   step="1"
                   min="0"
                   name="protein"
                   id="protein"
            /> g
        </div>
        <div class="flex flex-col justify-between gap-2 items-center font-[500] tracking-wider px-8 border-l border-amber-400">
            <label for="carb"
                   class="font-small-heading text-lg"
            >
                Carb
            </label>
            <input class="text-amber-600 font-body w-20 rounded-full ring-2 ring-amber-700 p-2 px-4"
                   type="number"
                   step="1"
                   min="0"
                   name="carb"
                   id="carb"
            /> g
        </div>
        <div class="flex flex-col justify-between gap-2 items-center font-[500] tracking-wider px-8 border-l border-amber-400">
            <label for="fat"
                   class="font-small-heading text-lg"
            >
                Fat
            </label>
            <input class="text-amber-600 font-body w-20 rounded-full ring-2 ring-amber-700 p-2 px-4"
                   type="number"
                   step="1"
                   min="0"
                   name="fat"
                   id="fat"
            /> g
        </div>
    </div>
</div>