<div class="flex gap-4 rounded-full ring-2 ring-amber-700 p-2 px-4 w-fit">
    <%- include("../Icons/Reactions/Tag", { containerClass: "rounded-full p-2", svgClass: "w-8 stroke-amber-700" }) -%>
    <div id="tag-container" class="flex gap-4">

    </div>
    <input id="tags" class="ml-4flex-1 focus:outline-none" type="text" placeholder="Tags of your recipe go here" />
</div>