<div class="w-[40%] space-y-8 relative">
    <h1 class="font-heading font-[550] text-gray-900 text-5xl">Directions</h1>
    <ol id="direc-container" class="font-body text-gray-900 text-lg space-y-4">

    </ol>
    <div class="text-center">
        <button type="button" id="add-direction" class="text-center">
            <%- include("../Icons/UI/Actions/Plus", { containerClass: "h-16 w-16 mx-auto", svgClass: "w-full h-full stroke-amber-700" }) -%>
            <p class="text-selected-mehandi">Add Direction</p>
        </button>
    </div>
</div>