<div class="font-body space-y-9">
    <div class="flex justify-start gap-8">
        <h1 class="font-heading font-[550] text-gray-900 text-5xl">
            Ingredients
        </h1>
        <div class="flex gap-3 justify-center items-center">
            <button id="inc-ingredient" type="button">
                <%- include("../Icons/UI/Actions/Plus", { containerClass: "", svgClass: "w-10 stroke-gray-700" }) -%>
            </button>
            <label>
                <input disabled name="servings" class="w-10 text-xl" type="number" step="1" min="1" max="50"
                       placeholder="How many will it serve?" />
                servings
            </label>
            <button id="dec-ingredient" type="button">
                <%- include("../Icons/UI/Actions/Minus", { containerClass: "", svgClass: "w-10 stroke-gray-700" }) -%>
            </button>
        </div>
    </div>
    <ul class="text-xl space-y-2 pl-0.5" id="ingredient-container">

    </ul>
    <div class="text-center">
        <button type="button" id="add-ingredient" class="text-center">
            <%- include("../Icons/UI/Actions/Plus", { containerClass: "h-16 w-16 mx-auto", svgClass: "w-full h-full stroke-amber-700" }) -%>
            <p class="text-selected-mehandi">Add Ingredient</p>
        </button>
    </div>

</div>