<div class="flex gap-8 group focus:outline-amber-600">
    <div id="tag-container" class="flex gap-8">

    </div>
    <input name="tags" class="flex-1 group-focus:bg-slate-400" type="text" placeholder="Type tags here" />
</div>