<div class="space-y-4 capitalize">
    <h1 class="font-[550] font-heading text-xl text-black">
        <%= title; %>
    </h1>
    <ul class="flex flex-wrap gap-4">
        <% filters.forEach(filter => { %>
            <div class="w-fit px-4 py-1 border border-selected-mehandi rounded-full">
                <%= filter; %>
            </div>
        <% }); %>
    </ul>
</div>