<div class="flex gap-12 font-body">
    <div class="flex flex-col justify-between items-center">
        <button type="button" class="h-24 w-24">
            <%- include("../Icons/UI/Actions/Plus", { containerClass: "", svgClass: "w-full h-full stroke-amber-700" }) -%>
        </button>
        <p class="text-selected-mehandi">New cookbook</p>
    </div>
    <% cookbooks.forEach(cookbook => { %>
        <div class="flex flex-col gap-2 justify-between items-center">
            <button class="rounded-full overflow-hidden w-24 h-24 drop-shadow-lg">
                <img class="w-full h-full object-center" src="<%= cookbook.img %>" alt="food image" />
            </button>
            <p class="text-selected-mehandi capitalize"><%= cookbook.title %></p>
        </div>
    <% }) %>
</div>