<button
        id="<%= id %>"
        class="rounded-lg bg-[rgb(188,108,37)] p-4 px-16 font-small-heading font-[550] text-lg text-white <%= btnClass %>"
        type="<%= type %>"
>
    <%= text %>
</button>