<footer class="grid grid-cols-2 px-40 p-20 bg-[rgb(40,54,24)] gap-x-16 gap-y-4 relative">
    <%- include("../icons/brand/brand", {containerClass: "self-center w-[60%]", svgClass: ""}) %>
    <ul class="grid grid-cols-2 text-white text-xl self-center gap-4">
        <li>Popular recipes</li>
        <li>Explore recipes</li>
        <li>Privacy policy</li>
        <li>About</li>
        <li>How it works</li>
        <li>Contact</li>
        <li>Recipes</li>
        <li>Conditions</li>
        <li>Our app</li>
    </ul>
</footer>