<%- include("../components/UI/HeadIncluder", { titleOfPage: "About Us", linkJS: "" }) -%>

<body class="font-heading space-y-20 bg-[#e6e6e6]">

<%- include("../components/Layout/Header", { user, dropdownOption: "About Us" }) -%>


<%- include("../components/Layout/Footer") -%>

</body>
</html>