<%- include("../components/UI/HeadIncluder", {titleOfPage: "Own Recipes", linkJS: "" }) -%>
<body class="font-heading space-y-20 bg-[#e6e6e6]">
<%- include("../components/Layout/Header", { user, dropdownOption: "Own recipes" }) -%>

Your own recipes

<%- include("../components/Layout/Footer") -%>
</body>
</html>