<main
        class="text-center text-black mx-auto w-1/2 bg-white py-20 px-52 rounded-3xl border border-orange-300 font-[550] space-y-16"
>
    <h1 class="text-5xl font-small-heading">Sign In</h1>

    <div class="space-y-8 font-heading font-normal text-xl">
        <a
                class="flex justify-between bg-white border border-gray-800 p-3 px-7 rounded-full items-center drop-shadow-sm"
                href="#"
        >
            <img
                    class="w-10 p-1"
                    src="images/icons/socials/google.png"
                    alt="google login"
            />
            <span class="flex-1">Continue with Google</span>
        </a>
        <a
                class="flex justify-between text-white p-3 px-7 rounded-full items-center drop-shadow-sm"
                href="#"
                style="background: radial-gradient(
      circle farthest-corner at 0% 150%,
      rgb(255, 225, 125) 0%,
      rgb(255, 205, 105) 12%,
      rgb(250, 145, 55) 25%,
      rgb(235, 65, 65) 41%,
      transparent 95%
    ),
    linear-gradient(-15deg, rgb(35, 75, 215) -10%, rgb(195, 60, 190) 65%);"
        >
            <img
                    class="w-10 p-0.5"
                    src="images/icons/socials/instagram.png"
                    alt="instagram login"
            />
            <span class="flex-1">Continue with Instagram</span>
        </a>
        <a
                class="flex justify-between bg-[#0B78B7] p-3 px-7 rounded-full items-center text-white drop-shadow-sm"
                href="#"
        >
            <img
                    class="w-10"
                    src="images/icons/socials/linkedin.png"
                    alt="linked login"
            />
            <span class="flex-1">Continue with LinkedIn</span>
        </a>
    </div>
</main>